<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FriendList</title>
  
  <link rel="stylesheet" href="/static/webjars/bootstrap/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/static/css/friendsButton.css">
  <script src="/static/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
  function ajaxAccept(obj) {

		// DO POST
		$.ajax({
			type : "POST",
			url : "/friend/friendAccept",
			data : {notificationId : $(obj).parent('form').parent('div').parent('div').children(':nth-child(3)').attr('value'),
				friendId : $(obj).parent('form').parent('div').parent('div').children(':nth-child(4)').attr('value'),
				contents : 1},
			success : function(result) {
				if (result.status == "success") {
					console.log("success");
				} else {
				}
				console.log(result);
			},
			error : function(e) {
				alert("Error!")
				console.log("ERROR: ", e);
			}
		});
		return false;
	}

function ajaxReject(obj) {

		// DO POST
		$.ajax({
			type : "POST",
			url : "/friend/friendAccept",
			data : {notificationId : $(obj).parent('form').parent('div').parent('div').children(':nth-child(3)').attr('value'),
				friendId : $(obj).parent('form').parent('div').parent('div').children(':nth-child(4)').attr('value'),
				contents : 2},
			success : function(result) {
				if (result.status == "success") {
					console.log("success");
				} else {
				}
				console.log(result);
			},
			error : function(e) {
				alert("Error!")
				console.log("ERROR: ", e);
			}
		});
		return false;
	}

function ajaxOk(obj) {

		// DO POST
		$.ajax({
			type : "POST",
			url : "/friend/friendAccept",
			data : {notificationId : $(obj).parent('form').parent('div').parent('div').children(':nth-child(3)').attr('value'),
				friendId : $(obj).parent('form').parent('div').parent('div').children(':nth-child(4)').attr('value'),
				contents : 0},
			success : function(result) {
				if (result.status == "success") {
					console.log("success");
				} else {
				}
				console.log(result);
			},
			error : function(e) {
				alert("Error!")
				console.log("ERROR: ", e);
			}
		});
		return false;
	}
  
function ajaxRequest(obj) {

		// DO POST
		$.ajax({
			type : "POST",
			url : "/friend/friendRequest",
			data : {
				friendId : $(obj).parent('form').parent('div').parent('div').children(':nth-child(3)').attr('value')
				},
			success : function(result) {
				if (result.status == "success") {
					console.log("success");
				} else {
				}
				console.log(result);
			},
			error : function(e) {
				alert("Error!")
				console.log("ERROR: ", e);
			}
		});
		return false;
	}
  </script>
</head>

<body>

<!-- Navigation -->
  <div th:block th:replace="contents/fragments/navigationBar :: navBar">
  </div>

 <!-- Page Content -->
 <div class="container">

    <div class="row top-buffer">

      <!-- Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">
        </h1>

        <!-- TimeLine Post -->
      	<div class="card mb-4">
          <div class="card-body" th:each=" friend: ${friends}">
            <h2 class="card-title" th:if="${friend.getName()}" th:text="${friend.getName()} +'_'+ ${friend.getId()}">친구1</h2>
            <p class="card-text" th:if="${friend.getSchool()}" th:text="'school: '+${friend.getSchool()}"  >학교</p>
            <p class="card-text" th:if="${friend.getCity()}" th:text="'city: '+${friend.getCity()}" >지역</p>
            <p class="card-text" th:if="${friend.getOffice()}" th:text="'office: '+${friend.getOffice()}">회사</p>
            <p class="card-text" th:if="${friend.getBirthday()}" th:text="'birthday: '+${friend.getBirthday()}">생년월일</p>
            <input type="hidden" name="friendId" th:value="${friend.getId()}">
          </div>
        </div>

    </div>
    <!-- Sidebar Widgets Column -->
      <div th:block th:replace="contents/fragments/sideBar :: sideBar"></div>
    <!-- /.row -->
    </div>
</div>
  <!-- /.container -->

  <!-- Footer 
  <footer class="py-5 bg-dark">
    
  </footer>

  -->

</body>

</html>
