<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width", initial-scale="1">
		<title>D2project</title>
		<link rel="stylesheet"href="/static/webjars/bootstrap/css/bootstrap.min.css">
		<script src="/static/webjars/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		
  		<script type="text/javascript">
  		
  		function dupCheck(){
	  			// DO POST
	  			$.ajax({
	  				type : "POST",
	  				url : "/register/duplicate",
	  				data : {id : $("#userId").val()},
	  				success : function(result) {
	  					if (result.data == "0") {
	  						alert("사용가능한 아이디입니다.");
	  					    $("#registerButton").attr("disabled", false);

	  					} else if(result.data == "1"){
	  						alert("존재하는 아이디입니다.");
	  						$("#registerButton").attr("disabled", true);
	  					}
	  					
	  				},
	  				error : function(e) {
	  					alert("Error!")
	  					console.log("ERROR: ", e);
	  				}
	  			});
		}
			
  		$(document).ready(
  				function() {
  					$("#registerButton").attr("disabled", true); //비활성화

  					$("#registerButton").click(function() {
  						
  						if($("#password").val() == $("#password-confirm").val()){
  							//
  							if(1<=$("#city").val() && $("#city").val()<=100){
  								if(1<=$("#school").val() && $("#school").val()<=300){
  									if(1<=$("#office").val() && $("#office").val()<=500){
  										
  										$.ajax({
  				  	  		  				type : "POST",
  				  	  		  				url : "/register/confirm",
		  				  	  		  		data : {id : $("#id").val(),
		  				  					password : $("#password").val(),
		  				  					name : $("#name").val(),
		  				  					birthday : $("#birthday").val(),
		  				  					city : $("#city").val(),
		  				  					school : $("#school").val(),
		  				  					office : $("#office").val()
		  				  	  		  		},
  				  	  		  				success : function(result) {
  				  	  		  					console.log("ssibal");  				  	  		  					
  				  	  		  				},
  				  	  		  				error : function(e) {
  				  	  		  					alert("Error!")
  				  	  		  					console.log("ERROR: ", e);
  				  	  		  				}
  				  	  		  			});
  		  							}
  									else{
  										alert("회사 1~500으로 입력해주세요");
  									}
  	  							}
  								else{
  									alert("학교 1~300으로 입력해주세요");
  								}
  							}
  							else{
  								alert("도시 1~100으로 입력해주세요");
  							}
  						}
  						else{
  							alert("비밀번호가 일치하지 않습니다.");
  						}
  					});
  					
  					$("#userId").change(function(){
  						$("#registerButton").attr("disabled", true);
  					});
  					
  					
  					
  					
  		});

  		</script>

	</head>
	<body>
<!-- Navigation -->
  <div th:block th:replace="contents/fragments/navigationBar :: navBar">
  </div>


		<div class="container reg-buffer">
			
			<div class="col-md-8">
		    <form class="form-horizontal" id="reg" method="POST" action="/register/confirm">
		        <div class="row">
		            <div class="col-md-3"></div>
		            <div class="col-md-6 reg-bottom">
		                <h2>Register</h2>
		                <hr>
		            </div>
		        </div>
		        
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="userId">ID</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
		                        <input type="text" id="id" name="id" class="form-control" placeholder="ID" required autofocus>	                  
		                        <button onclick="dupCheck()">중복검사</button>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3">
		                <div class="form-control-feedback">
		                        <span class="text-danger align-middle">
		                            <!-- Put name validation error messages here -->
		                        </span>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="user_password">비밀번호</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group has-danger">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
		                        <input type="password" id="password" name="password" class="form-control" 
		                               placeholder="Password" required>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3">
		                <div class="form-control-feedback">
		                        <span class="text-danger align-middle">
		                           <!-- <i class="fa fa-close"> </i> -->
		                        </span>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="password">비밀번호 확인</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem">
		                            <i class="fa fa-repeat"></i>
		                        </div>
		                        <input type="password" name="password-confirmation" class="form-control"
		                               id="password-confirm" placeholder="Password" required>
		                    </div>
		                </div>
		            </div>
		        </div>
		        
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="user_name">이름</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
		                        <input type="text" id="name" name="name" class="form-control" 
		                               placeholder="홍길동" required autofocus>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3">
		                <div class="form-control-feedback">
		                        <span class="text-danger align-middle">
		                            <!-- Put name validation error messages here -->
		                        </span>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="birthday">생년월일</label>
		            </div>
		            <div class="col-md-6 reg-bottom">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
		                        <input type="text" id="birthday" name="birthday" class="form-control" 
		                               placeholder="1995-07-16" required autofocus>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3">
		                <div class="form-control-feedback">
		                        <span class="text-danger align-middle">
		                            <!-- Put name validation error messages here -->
		                        </span>
		                </div>
		            </div>
		        </div>
		         <!-- city -->
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="city">도시명</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
		                        <input type="number" id="city" name="city" class="form-control" 
		                               placeholder="1~100 의 숫자를 입력해주세요" required autofocus>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- school -->
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="school">학교명</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
		                        <input type="number" id="school" name="school" class="form-control" 
		                               placeholder="1~300 의 숫자를 입력해주세요" required autofocus>
		                    </div>
		                </div>
		            </div>
		            
		        </div>
		        <!-- office -->
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="office">회사명</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
		                        <input type="number" id="office" name="office" class="form-control" 
		                               placeholder="1~500 의 숫자를 입력해주세요" required autofocus>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!--
		        <div class="row">
		            <div class="col-md-3 field-label-responsive">
		                <label for="email">Email</label>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
		                        <input type="text" name="email" class="form-control" id="email"
		                               placeholder="you@example.com" required autofocus>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-3">
		                <div class="form-control-feedback">
		                        <span class="text-danger align-middle">
		                            
		                        </span>
		                </div>
		            </div>
		        </div>
		    	-->
		        <div class="row">
		            <div class="col-md-3"></div>
		            <div class="col-md-6">
		                <button id = "registerButton" type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
		            </div>
		        </div>
		    </form>
			</div>
		</div>
</body>

</html>